

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 10%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  background: #FFFFFF;
  border-radius: 25px;
  box-shadow: 6px 8px 12px 1px rgb(0 0 0 / 10%);
  padding: 25px;

  &__header {
    display: flex;
  }

  &__title {
    font-size: 32px;
    letter-spacing: 0.02rem;
    margin-top: 0;
  }
}